{% extends 'base.html' %}
{% block title %} {{config.SITENAME}}-{{ title }} {% endblock %}

{% block maincontent %}

<form action="{{request.path}}" method="post" class="form-horizontal">
    <h2>{{config.SITENAME}}-{{ title }}</h2>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <div class="control-group row">
        <p>
            Username : {{form.username(size=40)}}<br>
        </p>
        </div>
        <div class="control-group row">
        <p>Password : {{form.password(size=40)}}<br></p>
        </div>
        <p><input type="submit" value="Sign In">
        <a href="{{ url_for('auth.register') }}" > Register </a>
        </p>
    </form>

{% endblock %}

